<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação em Duas Etapas</title>
    <link rel="stylesheet" href="dois.css">
</head>

<body>
    <div class="container">
        <!-- Passo 1: Inserir email -->
        <div class="step active" id="step1">
            <h2>Verificação em Duas Etapas</h2>
            <p>Por favor, insira seu endereço de e-mail para receber o código de verificação.</p>
            <input type="email" id="email" placeholder="Seu e-mail" required>
            <button><a href="codigo.html">Enviar Código</a></button>
        </div>
    </div>
</body>
</html>